.navigation
  = link_to("Home", root_url)
  = link_to("Ontologies", ontologies_url)
  = link_to("Ontology Terms", ontology_terms_url)
  = link_to("Documents", documents_url)
  = link_to("Jobs", annotation_jobs_url)
  = link_to("Annotations", annotations_url)
  = link_to("Audit", audit_annotations_url)
