- title(@document.title)
= page_title(@document.title)
= link_to("Back", documents_url)
%table{:width => "100%", :border => "0", :cellpadding => "0", :cellspacing => "2"}
  %thead
    %tr.row-header
      %th
        Field name
      %th
        Value
  - (@document.attributes.keys-['_id']).each do |field|
    %tr
      %td{width: '30%', valign: 'top'}
        %strong
          = field
      %td{valign: 'top'}
        = @document.do_or_do_not(field)
    %tr.row-even
      %td{valign: 'top'}
        annotations
      %td{valign: 'top'}
        = annotation_list(@document.annotations_for(field))
